@import "config";

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: $secondary-accent;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: white;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}

.header-container {
  color: white;
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;

  .sub-header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

    .location {
      font-size: 2rem;
      font-weight: normal;
      margin-top: 10px;
      margin-bottom: 15px;
    }

    .city-search-container {
      text-align: center;

      .search-bar {
        input {
          float: left;
          background: $secondary-accent;
          width: 300px;
          padding: 20px;
          border: 1px solid $primary-accent;
          border-right: none;
          color: white;
          font-size: 1em;
        }

        button {
          float: left;
          width: 125px;
          padding: 20px;
          background: $primary-color;
          color: white;
          font-size: 1em;
          border: 1px solid $primary-accent;
          border-left: none;
          cursor: pointer;
        }
      }
    }
  }

  .general-information {
    text-align: center;

    .status {
      font-size: 3rem;
      font-weight: bold;
    }
  }

  .nav-container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

    #hourly-btn {
      margin-right: 0;
      width: 200px;
      padding: 20px;
      background: $primary-color;
      color: white;
      font-size: 2em;
      border: 1px solid $primary-accent;
      border-right: 0.5px;
      cursor: pointer;
    }

    #daily-btn {
      margin-left: 0;
      width: 200px;
      padding: 20px;
      background: $primary-color;
      color: white;
      font-size: 2em;
      border-left: 0.5px;
      border: 1px solid $primary-accent;
      cursor: pointer;
    }
  }
}

.forecast-container {
  .current-day-data-wrapper {
    justify-content: center;
    background-color: $secondary-color;
    color: white;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;

    > h1 {
      text-align: center;
      background-color: $primary-color;
      margin-top: 0;
      padding: 10px;
    }

    .btn-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .side-bar {
        width: 100px;
        margin-top: 140px;
      }

      #prev-btn {
        margin-top: 100px;
        margin-right: 50px;
      }
      #next-btn {
        margin-top: 100px;
        margin-left: 50px;
      }

      .hourly-wrapper {
        height: 400px;
        width: 600px;
        overflow: hidden;

        .hourly-slide {
          width: 2400px;

          .hour {
            float: left;
            text-align: center;
            width: 100px;

            .value {
              margin: 16px 0px;
            }
          }
        }
      }
    }
  }

  .card-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    margin-top: 20px;
  }

  .card {
    background-color: $secondary-color;
    width: 200px;
    margin: 1%;

    > h2 {
      margin: 0;
      padding: 5px;
      background-color: $primary-color;
      text-align: center;
    }

    .icon-container {
      text-align: center;
      background-color: $primary-accent;
      margin: 10px;
    }

    .detail-section {
      margin: 10px;
    }
  }

  .darksky {
    position: absolute;
    bottom: 0;
    right: 0;
    .darksky-logo {
      float: right;
    }
  }
}

@import "responsive";
