@import "config";

body {
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.current-day-content {
  margin: 50px;
}

.status {
  font-size: 3rem;
  font-weight: bold;
}

.location {
  font-size: 2rem;
  font-weight: normal;
  margin-top: 10px;
}

.current-day-data-wrapper {
  display: flex;
  flex-direction: column;

  #container {
    display: flex;
    flex-direction: row;
  }
}
.card-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.card {
  display: flex;
  width: 200px;
  flex-direction: row;
  background-color: $secondary-color;
}

@import "responsive";
