body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #a6b1e1;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: white;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}

.header-container {
  color: white;
  background-color: #5a5a5a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-container .sub-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header-container .sub-header .location {
  font-size: 2rem;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 15px;
}

.header-container .sub-header .city-search-container {
  text-align: center;
}

.header-container .sub-header .city-search-container .search-bar input {
  float: left;
  background: #a6b1e1;
  width: 300px;
  padding: 20px;
  border: 1px solid #dcd6f7;
  border-right: none;
  color: white;
  font-size: 1em;
}

.header-container .sub-header .city-search-container .search-bar button {
  float: left;
  width: 125px;
  padding: 20px;
  background: #3185fc;
  color: white;
  font-size: 1em;
  border: 1px solid #dcd6f7;
  border-left: none;
  cursor: pointer;
}

.header-container .general-information {
  text-align: center;
}

.header-container .general-information .status {
  font-size: 3rem;
  font-weight: bold;
}

.header-container .nav-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-container .nav-container #hourly-btn {
  margin-right: 0;
  width: 200px;
  padding: 20px;
  background: #3185fc;
  color: white;
  font-size: 2em;
  border: 1px solid #dcd6f7;
  border-right: 0.5px;
  cursor: pointer;
}

.header-container .nav-container #daily-btn {
  margin-left: 0;
  width: 200px;
  padding: 20px;
  background: #3185fc;
  color: white;
  font-size: 2em;
  border-left: 0.5px;
  border: 1px solid #dcd6f7;
  cursor: pointer;
}

.forecast-container .current-day-data-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #5a5a5a;
  color: white;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.forecast-container .current-day-data-wrapper > h1 {
  text-align: center;
  background-color: #3185fc;
  margin-top: 0;
  padding: 10px;
}

.forecast-container .current-day-data-wrapper .btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.forecast-container .current-day-data-wrapper .btn-wrapper .side-bar {
  width: 100px;
  margin-top: 140px;
}

.forecast-container .current-day-data-wrapper .btn-wrapper #prev-btn {
  margin-top: 100px;
  margin-right: 50px;
}

.forecast-container .current-day-data-wrapper .btn-wrapper #next-btn {
  margin-top: 100px;
  margin-left: 50px;
}

.forecast-container .current-day-data-wrapper .btn-wrapper .hourly-wrapper {
  height: 400px;
  width: 600px;
  overflow: hidden;
}

.forecast-container .current-day-data-wrapper .btn-wrapper .hourly-wrapper .hourly-slide {
  width: 2400px;
}

.forecast-container .current-day-data-wrapper .btn-wrapper .hourly-wrapper .hourly-slide .hour {
  float: left;
  text-align: center;
  width: 100px;
}

.forecast-container .current-day-data-wrapper .btn-wrapper .hourly-wrapper .hourly-slide .hour .value {
  margin: 16px 0px;
}

.forecast-container .card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
  margin-top: 20px;
}

.forecast-container .card {
  background-color: #5a5a5a;
  width: 200px;
  margin: 1%;
}

.forecast-container .card > h2 {
  margin: 0;
  padding: 5px;
  background-color: #3185fc;
  text-align: center;
}

.forecast-container .card .icon-container {
  text-align: center;
  background-color: #dcd6f7;
  margin: 10px;
}

.forecast-container .card .detail-section {
  margin: 10px;
}

.forecast-container .darksky {
  position: absolute;
  bottom: 0;
  right: 0;
}

.forecast-container .darksky .darksky-logo {
  float: right;
}

@media screen and (max-width: 500px) {
  .header-container .sub-header .location {
    font-size: 1rem;
  }
  .header-container .sub-header .city-search-container .search-bar input {
    width: 150px;
    padding: 10px;
  }
  .header-container .sub-header .city-search-container .search-bar button {
    width: 100px;
    padding: 10px;
  }
  .header-container .nav-container #hourly-btn {
    width: 100px;
    padding: 10px;
    font-size: 1em;
  }
  .header-container .nav-container #daily-btn {
    width: 100px;
    padding: 10px;
    font-size: 1em;
  }
  .header-container .general-information .status {
    font-size: 2rem;
  }
  .forecast-container .current-day-data-wrapper {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .forecast-container .current-day-data-wrapper > h1 {
    font-size: 1rem;
  }
  .forecast-container .current-day-data-wrapper .btn-wrapper {
    overflow-y: scroll;
  }
  .forecast-container .current-day-data-wrapper .btn-wrapper .side-bar {
    display: none;
  }
  .forecast-container .current-day-data-wrapper .btn-wrapper #prev-btn {
    display: none;
  }
  .forecast-container .current-day-data-wrapper .btn-wrapper #next-btn {
    display: none;
  }
  .forecast-container .current-day-data-wrapper .btn-wrapper .hourly-wrapper {
    width: 100%;
    overflow: visible;
  }
  .forecast-container .current-day-data-wrapper .btn-wrapper .hourly-wrapper .hourly-slide {
    width: 100%;
  }
  .forecast-container .current-day-data-wrapper .btn-wrapper .hourly-wrapper .hourly-slide .hour {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
        grid-template-areas: "header icon info";
    text-align: left;
    width: 280px;
    margin: 10px;
  }
  .forecast-container .current-day-data-wrapper .btn-wrapper .hourly-wrapper .hourly-slide .hour h2 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
  }
  .forecast-container .current-day-data-wrapper .btn-wrapper .hourly-wrapper .hourly-slide .hour .time-stamp {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
  }
  .forecast-container .current-day-data-wrapper .btn-wrapper .hourly-wrapper .hourly-slide .hour .icon-container {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: icon;
  }
  .forecast-container .current-day-data-wrapper .btn-wrapper .hourly-wrapper .hourly-slide .hour .value {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: info;
    margin: 0;
  }
  .forecast-container .current-day-data-wrapper .btn-wrapper .hourly-wrapper .hourly-slide .hour #Temp:before {
    content: "Temp: ";
  }
  .forecast-container .current-day-data-wrapper .btn-wrapper .hourly-wrapper .hourly-slide .hour #Apparent:before {
    content: "Feels Like: ";
  }
  .forecast-container .current-day-data-wrapper .btn-wrapper .hourly-wrapper .hourly-slide .hour #POP:before {
    content: "POP: ";
  }
}
/*# sourceMappingURL=main.css.map */